config.json
*.class
.devcontainer
.snakemake
.vscode
files/data/adjmat=/
files/result
files/time
files/adjvecs
files/adjmat_estimate
files/heatmap_estimate
files/*.csv
files/*.eps
files/bn/generateBinaryBN
files/adjmat/generateDAGMaxParents