config/config.json
*.class
.devcontainer
.snakemake
.vscode
results/data/adjmat=/
results/result
results/time
results/adjvecs
results/adjmat_estimate
results/heatmap_estimate
results/*.csv
results/*.eps
results/bn/generateBinaryBN
results/adjmat/generateDAGMaxParents
docs/build
.DS_Store
.R*
docs/source/_build