sphinx==6.0.0
sphinx_copybutton
sphinx-prompt
sphinxcontrib.bibtex
bibtexparser
sphinx_rtd_theme
recommonmark
urllib3==2.6.0
requests
sphinx-version-warning
sphinx-last-updated-by-git
sphinxcontrib-googleanalytics==0.4
sphinxext-opengraph
sphinxcontrib-youtube
sphinx-datatables